.header {
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    align-items: center;
=======
>>>>>>> infotooltipi/ventana
    width: 94%;
    height: 74px;
    max-width: 880px;
    margin: 45px auto 40px;
<<<<<<< HEAD
    border-bottom: 1px solid #545454;
}

.header__logo {
    width: 100%;
    max-width: 200px;
    height: 100%;
}

.header__user {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__email {
    color: var(--color-text);
    font-size: 16px;
}

.header__logout {
    background: none;
    border: none;
    color: var(--color-text);
    font-size: 16px;
    cursor: pointer;
=======

    border: 1px solid red;
}
.header__line {
    width: 100%;
>>>>>>> infotooltipi/ventana
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .header {
        width: 100%;
        margin-bottom: 0;
        margin-top: 28px;
    }

    .header__logo {
        padding-left: 27px;
    }

<<<<<<< HEAD
    /* .header__line {
        width: 100%;
    } */
=======
    .header__line {
        width: 100%;
    }
>>>>>>> infotooltipi/ventana
}
@media screen and (min-width: 601px) and (max-width: 768px) {
    .header {
        width: 100%;
    }
}
@media screen and (min-width: 601px) and (max-width: 909px) {
    .header {
        width: 90%;
    }
}
