.infotooltip {
    position: absolute;
    display: flex;
    margin-top: 195px;
    border-radius: 5px;
    width: 430px;
    height: 330px;
    background-color: var(--color-ventanas-popup);
    z-index: 1000;
}

.infotooltip__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid red;
}
.infotooltip__content {
    border: 1px solid red;
    width: 100%;
    position: relative;
    z-index: 1001;
}
.infotooltip__circle {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 3px solid red;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
    margin-top: 60px;
    border-color: black;
}

.infotooltip__circle-success {
    border-color: black;
}

.infotooltip__circle-error {
    border-color: red;
    color: red;
}

.infotooltip__close-button {
    position: absolute;
    left: 431px;
    bottom: 325px;
    cursor: pointer;
}

.infotooltip__close-button:hover {
    transition: 0.5s;
    transform: scale(1.04, 1.04);
    filter: brightness(70%);
}

.infotool__title {
    width: 358px;
    height: 58px;
    margin: 32px auto 0;
    text-align: center;
}
